<p id="notice"><%= notice %></p>

<%= @entry = Entry.new; @entry.user = cookies[:user_name]; render :partial => 'form' %>

<% @entries.sort.reverse.each do |date, users| %>
<h2><%= date.to_date.strftime('%A, %-d. %B %Y') %></h2>

<% users.sort.each do |user, entries| %>
<h3><%= user %></h3>

<ul>
   <% entries.sort_by(&:created_at).reverse.each do |entry| %>
     <li class="<%= entry.color %>">
       <%= auto_link(entry.content, :html => { :target => '_blank' }) do |text|
             truncate(text, :length => 30, :separator => '/', :omission => '/…')
           end
       %>
       <span class="tools">
         <%= link_to '&#x232b;'.html_safe, entry, :confirm => 'Are you sure?', :method => :delete %>
         <%= link_to '&#x270e;'.html_safe, edit_entry_path(entry) %>
       </span>
     </li>
   <% end %>
</ul>
<% end %>
<% end %>
