<p id="notice"><%= notice %></p>

<h1>Listing entries</h1>

<%= @entry = Entry.new; @entry.user = cookies[:user_name]; render :partial => 'form' %>

<% @entries.sort.reverse.each do |date, users| %>
<h2><%= date %></h2>

<% users.sort.each do |user, entries| %>
<h3><%= user %></h3>

<ul>
   <% entries.sort_by(&:created_at).reverse.each do |entry| %>
     <li class="<%= entry.color %>">
       <%= auto_link(entry.content, :html => { :target => '_blank' }) do |text|
             truncate(text, :length => 30, :separator => '/', :omission => '/…')
           end
       %>
       (<%= link_to 'Edit', edit_entry_path(entry) %>|<%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete %>)
     </li>
   <% end %>
</ul>
<% end %>
<% end %>
