<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @entry.user %>
</p>

<p>
  <b>Content:</b>
  <%= @entry.content %>
</p>

<p>
  <b>Color:</b>
  <%= @entry.color %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
